.sign-up-bg{   
    height: 100vh;
    width: 100%;
    background-image: url('../../images/bannerbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-up-btn{
    background-color: rgb(245, 26, 62);
}
.sign-up-btn:hover{
    background-color: rgb(245, 26, 62);
}
.account-text{
    color: rgb(245, 26, 62);
}
.account-text:hover{
    color: rgb(245, 26, 62);
}